<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.cigarettes.dao.CigaretteMapper">

    <resultMap id="" type="Cigarette">
        <result property="sellerId" column="seller_id"/>
        <result property="sellerName" column="seller_name"/>
        <result property="cigaretteName" column="cigarette_name"/>
        <result property="price" column="price"/>
        <result property="orderNum" column="order_num"/>
        <result property="type" column="type"/>
    </resultMap>

    <insert id="insertCigarettes" parameterType="List">
        INSERT INTO cigarette
        (seller_id, seller_name, cigarette_name, price, order_num, type)
        VALUES
        <foreach collection="list" item="cigarette" separator=",">
            (
            #{cigarette.seller_id}, #{cigarette.seller_name}, #{cigarette.cigarette_name}, #{cigarette.price}, #{cigarette.order_num}, #{cigarette.type}
            )
        </foreach>
    </insert>
</mapper>