<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.cigarettes.dao.CigaretteMapper">

    <resultMap id="Cigarette" type="com.hello.cigarettes.domain.Cigarette">
        <result property="sellerId" column="seller_id"/>
        <result property="sellerName" column="seller_name"/>
        <result property="cigaretteName" column="cigarette_name"/>
        <result property="price" column="price"/>
        <result property="orderNum" column="order_num"/>
        <result property="cigaretteType" column="cigarette_type"/>
    </resultMap>

    <insert id="insertCigarettes" parameterType="List">
        INSERT INTO cigarette
        (seller_id, seller_name, cigarette_name, price, order_num, cigarette_type)
        VALUES
        <foreach collection="list" item="cigarette" separator=",">
            (
            #{cigarette.sellerId}, #{cigarette.sellerName}, #{cigarette.cigaretteName}, #{cigarette.price}, #{cigarette.orderNum}, #{cigarette.cigaretteType}
            )
        </foreach>
    </insert>

    <select id="getCigarettesBySellerId" parameterType="String" resultMap="Cigarette">
       select * from cigarette where seller_id = #{sellerId};
    </select>

    <update id="deleteData">
        truncate table cigarette
    </update>
</mapper>